{% extends 'base.html' %}
{% block content %}
  <h2>Caixa de Entrada</h2>
  <ul>
    {% for mensagem in mensagens %}
      <li>
        <a href="{% url 'mensagem_detalhe' mensagem.pk %}">
          {{ mensagem.assunto }} - de {{ mensagem.remetente.username }}
        </a>
      </li>
    {% empty %}
      <li>Você não tem mensagens recebidas.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'nova_mensagem' %}">Nova Mensagem</a> |
  <a href="{% url 'caixa_saida' %}">Caixa de Saída</a> |
  <a href="{% url 'logout' %}">Sair</a>
{% endblock %}